{% extends 'layout.html' %}

{% block content %}

<style>
  /* FIX MARGIN FOR ABOUT PAGE */
  #mainContainer {
    margin: 3rem auto 20rem;
  }
</style>

<section class="card bg-dark my-4">
  <div class="card-header">
    <h2 class="text-white">System Info</h2>
  </div>
  <div class="card-body">
    <p class="text-justify">
      System Info is a proyect for <strong>get information</strong> about
      your system, in order to obtain important information about <br> your system for you to use. The information is not sent to another computer or server.

    </p>
  </div>
</section>

{% endblock %}
